.dyna-ui-pricker-container {

	&-color- {
		&WHITE_BLACK {
			color: black;
			border-color: black;
			background-color: white;
			.dyna-ui-pricker-container-arrow-helper{
				background-color: white;
			}
		}
		&WHITE_RED {
			color: red;
			border-color: red;
			background-color: white;
			.dyna-ui-pricker-container-arrow-helper{
				background-color: white;
			}
		}
		&BLACK_WHITE {
			color: white;
			border-color: white;
			background-color: black;
			.dyna-ui-pricker-container-arrow-helper{
				background-color: black;
			}
		}
		&ORANGE_WHITE {
			color: #eb8a0f;
			border-color: #eb8a0f;
			background-color: white;
			.dyna-ui-pricker-container-arrow-helper{
				background-color: white;
			}
		}
	}
}
